:root {
  --LightModeText: hsl(200, 15%, 16%);
  --LightModeInput: hsl(0, 1%, 34%);
  --LightModeBackground: hsl(0, 0%, 98%);
  font-size: 1.1vw;
  color: var(--LightModeBackground);
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* list-style: none; */
}

body {
  max-width: 100vw;
  max-height: 100vw;
  font-family: "Nunito Sans", sans-serif;
  background-color: hsl(210, 17%, 20%);
}

header {
  height: 10vh;
  width: 90%;
  background-color: var(--LightModeText);
  margin: auto;
  padding: 0.35em 1.5em;
  font-size: 35px;
}

.href-header-text {
  color: var(--LightModeBackground);
  text-decoration: none;
  cursor: pointer;
}

main {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* padding: 3em 0; */
  width: 90%;
  margin: auto;
  background-color: var(--LightModeInput);
}

.filters {
  display: flex;
  justify-content: space-between;
  padding: 3em;
  width: 100%;
}

form {
  color: #b9b9b9;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 5px;
}
input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
  width: 24rem;
  outline: none;
}
input[type="search"]::placeholder {
  color: #bbb;
  font-family: "Nunito Sans", sans-serif;
}
.label-site-search {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid none;
  border-radius: inherit;
  background: transparent url(assets/search.svg)
    /* url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") */
    no-repeat center;
  background-size: 1.5vw;
  opacity: 0.7;
}

.option,
#region {
  width: 17rem;
  color: #b9b9b9;
  display: flex;
  padding: 2px 17px;
  border: 1px solid currentColor;
  border-radius: 5px;
  outline: none;
  background: transparent;
  font-family: "Nunito Sans", sans-serif;
}
.option:not(:checked) {
  background-color: #4d4b4b;
  line-height: 5px;
  letter-spacing: 5px;
}
.option:checked {
  color: #111111;
  letter-spacing: 5px;
}

.container-countries {
  background-color: var(--LightModeInput);
  /* max-width: 75vw; */
  width: 95%;
  display: grid;
  grid-template-columns: 18vw 18vw 18vw 18vw;
  /* grid-auto-rows: 1fr; */
  gap: 3vw;
  justify-content: space-around;
  align-items: top;
  padding: 2em 0 5em 0;
}

.one-country {
  background-color: var(--LightModeText);
  display: flex;
  flex-direction: column;
  height: 22vw;
  border-radius: 1vw;
  box-shadow: 0px 0px 15px 2px #252525;
}

.new-a-element {
  text-decoration: none;
  color: var(--LightModeBackground);
  cursor: pointer;
}

.img-flag {
  width: 100%;
  aspect-ratio: 320/196;
  margin-bottom: 0.5vw;
  border-radius: 0.5vw 0.5vw 0 0;
}

.div-in-li,
.one-country > span {
  padding-left: 1vw;
  margin-top: 1vw;
}

.one-country > span,
.span-label {
  font-weight: 700;
  letter-spacing: 0.1vw;
}

.span-label {
  font-size: 0.8rem;
}

@media screen and (max-width: 1000px) {
  .container-countries {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .one-country {
    height: 30vw;
    font-size: 1.4rem;
  }
  .span-label {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 600px) {
  .container-countries {
    grid-template-columns: 1fr 1fr;
  }
  .one-country {
    height: 45vw;
    font-size: 2.3rem;
  }
  .span-label {
    font-size: 1.9rem;
  }
  header {
    font-size: 30px;
    padding: 0.6em;
  }
}
@media screen and (max-width: 400px) {
  .container-countries {
    grid-template-columns: 1fr;
  }
  .one-country {
    height: 40vh;
    font-size: 4rem;
  }
  .span-label {
    font-size: 3.5rem;
  }
  header {
    font-size: 25px;
    padding: 0.8em;
  }
}

.container-countries-single {
  display: flex;
  width: 95%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 16vh;
}
.div-for-items-right {
  height: 45vh;
  width: 50%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3vh;
  padding-left: 6vw;
}
.img-single {
  width: 40%;
  box-shadow: 0px 0px 15px -4px #000000;
  border-radius: 5px;
  margin-left: 2vw;
}
.div-list-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  font-size: 0.8rem;
  letter-spacing: 1px;

  line-height: 3vh;
}
.div-list-grid-span-label {
  font-weight: 700;
  font-size: 0.9rem;
}
button {
  width: 11vw;
  height: 4vh;
  border: none;
  border-radius: 5px;
  margin: 0.6vh;
  box-shadow: 0px 0px 15px -6px #000000;
  cursor: pointer;
  background-color: var(--LightModeText);
  color: var(--LightModeBackground);
  transition: all 0.3s;
}

button:hover {
  transform: scale(107%);
  background-color: hsl(200, 15%, 20%);
}

.button-back {
  font-size: 2vh;
  letter-spacing: 1.5px;
  width: 8vw;
  background: var(--LightModeText) url(assets/arrow_back.svg) no-repeat left;
  background-position-x: 20px;
  background-size: 1.5vw;
  padding: 0 0 0 1.5vw;
}

.p-for-name {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1.8px;
}
.border-span-label {
  margin-right: 0.5vw;
  font-weight: 700;
  letter-spacing: 1.1px;
}

@media screen and (max-width: 1200px) {
  .div-list-grid {
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
    font-size: 1.6rem;
  }
  .div-list-grid-span-label {
    font-size: 1.6rem;
  }
  button {
    width: 17vw;
  }

  .button-back {
    width: 12vw;
    background-position-x: 10px;
    background-size: 2.5vw;
    padding: 0 0 0 2.5vw;
  }
  .border-span-label {
    margin-right: 0.5vw;
    font-weight: 700;
    letter-spacing: 1.1px;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 600px) {
  .container-countries-single {
    width: 100%;
    flex-direction: column;
    padding: 6px 0 56px 0;
  }
  .div-for-items-right {
    padding-top: 10px;
    height: min-content;
    width: 100%;
    align-items: center;
    padding-left: 0vw;
  }
  .img-single {
    width: 70%;
    margin-left: 0vw;
    margin-top: 3vh;
  }
  .div-list-grid {
    font-size: 3.6rem;
  }
  .div-list-grid-span-label {
    font-size: 3.4rem;
  }
  .div-border-countries {
    display: flex;
    flex-direction: column;
  }
  .border-span-label {
    margin: auto;
    padding-bottom: 5px;
    font-weight: 700;
    letter-spacing: 1.1px;
    font-size: 3.4rem;
  }
  button {
    width: 27vw;
  }
  .p-for-name {
    font-size: 5.5rem;
  }

  .button-back {
    width: 22vw;
    background-size: 3.5vw;
  }
}
